absl-py==0.8.1
apex==0.1
asn1crypto==1.3.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.3.0
bokeh==1.4.0
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
click==7.0
cloudpickle==1.2.2
configparser==5.0.0
coverage==4.5.4
cryptography==2.8
cudf==0.11.0+0.g96593e7.dirty
cuml==0.11.0+0.ge10b574.dirty
cupy==6.6.0
cxxfilt==0.2.0
cycler==0.10.0
cython==0.29.15
cytoolz==0.10.1
dask-cuda==0.11.0
dask-cudf==0.11.0+0.g96593e7.dirty
dask-xgboost==0.1.9
dask==2.9.2
decorator==4.4.2
distributed==2.9.3
docker-pycreds==0.4.0
fastavro==0.22.7
fastrlock==0.4
fsspec==0.6.2
future==0.17.1
gast==0.2.2
gitdb==4.0.5
gitpython==3.1.2
google-pasta==0.1.8
gql==0.2.0
graphql-core==1.1
graphsurgeon==0.4.1
grpcio==1.16.1
h5py==2.8.0
heapdict==1.0.1
horovod==0.19.0
hypothesis==3.59.1
idna==2.8
imageio==2.8.0
importlib-metadata==1.5.0
jinja2==2.11.1
joblib==0.13.2
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
lmdb==0.98
locket==0.2.0
markdown==3.1.1
markupsafe==1.1.1
matplotlib==3.0.3
mock==3.0.5
more-itertools==8.2.0
msgpack==1.0.0
networkx==2.3
numba==0.47.0
numpy==1.17.4
nvidia-ml-py3==7.352.0
nvstrings-cudaunknown==0.11.0
olefile==0.46
onnx==1.6.0
opt-einsum==3.1.0
packaging==20.3
pai4sk==1.6.0
pandas==0.24.2
partd==1.1.0
pathtools==0.1.2
pillow==7.0.0
pip==20.0.2
pluggy==0.13.1
promise==2.3
protobuf==3.8.0
psutil==5.6.7
py==1.8.1
pyarrow==0.15.1
pycparser==2.20
pynvml==8.0.3
pyopenssl==19.1.0
pyparsing==2.4.6
pysocks==1.7.1
pytest==4.4.2
python-dateutil==2.8.1
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.1.2
randaugment==0.1
requests==2.22.0
rmm==0.11.0
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.3.1
sentry-sdk==0.14.3
setuptools==46.1.3.post20200330
shortuuid==1.0.1
six==1.13.0
smmap==3.0.4
snap-ml-spark==1.0
sortedcontainers==2.1.0
subprocess32==3.5.4
tabulate==0.8.2
tblib==1.6.0
tensorboard==2.1.0
tensorflow-estimator==2.1.0
tensorflow-probability==0.9.0
tensorflow-serving-api==2.1.0
tensorflow==2.1.0
tensorrt==7.0.0.11
termcolor==1.1.0
toolz==0.10.0
torch==1.3.1
torchtext==0.4.0
torchvision==0.4.2
tornado==6.0.4
tqdm==4.36.1
typing==3.6.4
uff==0.6.5
urllib3==1.25.8
wandb==0.8.35
watchdog==0.10.2
werkzeug==0.16.0
wheel==0.34.2
wrapt==1.11.2
zict==2.0.0
zipp==2.2.0